@page "/desafios"

<PageTitle>Desafios de código</PageTitle>
<!-- Para Blazor WebAssembly (wwwroot/index.html) -->
<head>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <h1> Em construção</h1>

     <a href="/" target="_blank" class="btn" title="Home">Voltar</a>

</body>