@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
                <img src="images/logo.jpg" alt="Logo Dev Is Cool" style="width: 50px; height: auto;" /> 

         <a class="navbar-brand" href="">Dev Is Cool</a> 
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <img src="images/logo.jpg" alt="Logo Dev Is Cool" style="width: 45px; height: auto;"  aria-hidden="true" /> Dev Is Cool

            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="artigos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Artigos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="desafios">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Videos
                <i class="bi bi-terminal"></i>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="desafios">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Desafios de códigos
            </NavLink>
        </div>
       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
