.artigo-content {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.artigo-content h1, .artigo-content h2 {
    color: #ff6347; /* Cor vibrante para os títulos */
}

.artigo-content p {
    margin-bottom: 1.5rem;
    color: #333;
}

.artigo-content ul {
    list-style-type: '🔥'; /* Usando emojis como ícones de lista */
}

.artigo-content code {
    background-color: #f4f4f4;
    color: #c7254e;
    padding: 2px 4px;
    border-radius: 4px;
}

.artigo-content a {
    color: #007acc;
    text-decoration: none;
}

.artigo-content a:hover {
    text-decoration: underline;
}
